<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Névjegy</title>
</head>

<body>
<p>
  <font size="+2"><center><b>Árúkészlet kezelő program.</b></center></font>
  <br></br>
  <p><center>Köszönöm hogy használod ezt az INGYENES programot.</p>
<p>Remélem tetszik.</p>
<p>Ha fizettél érte akkor kérd vissza a pénzedet!</p>
<p> Verzió 1.0.0 fejlesztés alatt. </center></p>
  <br></br>
 <center> © 2022 Progmatic Corporation. Minden jog fenntartva. </center>
</p>
<br></br>
<br></br>
<a data-th-href="@{/maintenance}">Vissza a főoldalra</a>
<br></br>
<br></br>
<br></br>
<center><button id="myButton" class="float-left submit-button" ></button></center>

<script type="text/javascript">
  document.getElementById("myButton").onclick = function () {
    location.href = "https://supermario-game.com/";
  };
</script>
</body>
<footer>
  <div id = "digital-clock"> </div>
  <script src = "script.js"> </script>
  @ Created by Gyula 2022 Aug 12. Copy only for classmates.
</footer>

</html>