<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/style.css">
    <meta charset="UTF-8">
    <title>Adatbázis szerkesztése</title>
</head>

<body>

<h1>Árukészlet kezelése</h1>


<a data-th-href="@{/newitem}">Új tétel hozzáadása</a>
<p></p>
<a data-th-href="@{/allitem}">Összes tétel megjelenitése</a>
<p></p>
<a data-th-href="@{/shopinfo}">Az üzlet adatainak megtekintése</a>
<p></p>

<a href="https://citromail.hu">Visszajelzés küldése</a>
<p></p>
<p></p>
<a data-th-href="@{/about}">A szoftver névjegye</a>
</body>
<footer>
    <div id = "digital-clock"> </div>
    <script src = "script.js"> </script>
    @ Created by Gyula 2022 Aug 12. Copy only for classmates.
</footer>

</html>