<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Üzlet Információ</title>

</head>
<link rel="stylesheet" href="/style.css">

<body>

<h1>Üzlet Információ:</h1>

<p><b>Az üzlethelyiség cime: </b></p>
<p> 1029 Budapest 2 kerület, 2 utca 2 szám. </p>
<p><b>Az üzlethelyiség telefonszáma:</b> 06 1 254 856</p>
    <p><b>Nyitvatartás: </b></p>

    <p><b>Hétfő</b> 6:00 - 17:00</p>
        <p><b>Kedd</b> 6:00 - 17:00</p>
        <p><b>Szerda</b> 6:00 - 17:00</p>
        <p><b>Csütörtök</b> 6:00 - 17:00</p>
        <p><b>Péntek</b> 6:00 - 22:00</p>
        <p><b>Szombat</b> 6:00 - 22:00</p>
        <p><b>Vasárnap</b> 8:00 - 13:00</p>
<br />
<br />
<br />

<p><b>Cégtulajdonos:</b> Mekk Elek</p>
<p><b>Tulajdonos elérhetősége:</b></p>
<p><b>Cim:</b> 1016 Budapest 1 kerület, 1 utca 1 szám. </p>
<p><b>Tel.:</b> 06 30 123 1234 </p>
<p><b>Email:</b> mekk.elek@neküldjemailt.hu</p>
<br></br>
<br></br>
<a data-th-href="@{/maintenance}">Vissza a főoldalra</a>
<br>
<br>
<href
</body>
<footer>
    <div id = "digital-clock"> </div>
    <script src = "script.js"> </script>
@ Created by Gyula 2022 Aug 12. Copy only for classmates.
</footer>
</html>